
.row {
	display:inline-block;
	padding:0;
	margin:0 0 0 0;
	font-size:8px;
	position:relative;
	left:15px;
}

.square {
	
	border:1px solid red;
	background-color:white;
	margin:1px;
	float:left;

	font-size:8px;
	position:relative;
}


header {
	float:right;
	width:150px;
	padding:0;
	font-size: 2em;
	font-family:"Courier New";
	text-align:center;
	margin:5px;
	
}

#wrapper {
	width:960px;
	position:absolute;
	right:170px;
	padding:0px;
	margin:0 auto;
	padding:10px;
	border:2px dashed green;
}

